<!DOCTYPE html>
<html>
<head>
  <title>Tweet generator</title>
</head>
<body>
  <h1>Generate a Tweet!!</h1>
  <div>
    <p>Who do you want to generate a tweet from?</p>
    <p><%= @tweet %></p>
    <%= button_to "Make another tweet!", tweet_index_path, :method=> :get%>
  </div>
</body>
</html>