<!DOCTYPE html>
<html>
<head>
  <title>Tweet generator</title>
</head>
<body>
  <h1>Generate a Tweet!!</h1>
  <div>
    <p>here is where the tweets will go</p>
    <button>press to make another!</button>
  </div>
</body>
</html>